@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --font-family: "Inter", sans-serif;
    --border-radius: 1rem;
    --gradient-primary: linear-gradient(135deg, #34d399, #6366f1);
    --gradient-background: linear-gradient(135deg, hsl(190, 85%, 93%), hsl(250, 85%, 93%));
    --color-card: rgba(255, 255, 255, 0.7);
    --color-primary: white;
    --color-secondary: hsl(222.2 47.4% 11.2%);
}

body {
    height: 100dvh;
    width: 100dvw;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family);
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
